.pull-down-wrap
	margin: 0 auto
	width: 0
	height: 0
	display: flex
	justify-content: space-around
	align-items: center
	position: absolute
	left: 0
	right: 0
	top: 0
	.pull-down-circle
		width: 6px
		height: 6px
		background: #e6e6e6
		border-radius 50%
		&.big
			width: 9px
			height: 9px
